
#menu {
  width: 100%;
}
main {
  width: 100vw;
}
/* hiệu ứng xoay */
.rotate-180 {
  transform: rotate(180deg);
  transition: ease .2s;
}

@media (min-width: 768px) {
  main {
    width: calc(100vw - 260px);
  }
  /* Sidebar flex item */
  #menu {
    position: relative !important;
    transform: none !important;
    visibility: visible !important;
    top: 0;
    left: 0;
    bottom: 0;
    transition: ease .2s;
  }

  /* Thu gọn */
  #menu.collapsed {
    width: 0;
    padding: 0 !important;
    border: none !important;
    overflow: hidden;
  }

  .offcanvas-backdrop {
    display: none;
  }
}

.offcanvas-header,
nav {
  height: 56px;
}

.modal-backdrop.show {
  background-color: rgb(0 0 0 / 60%);
  backdrop-filter: blur(.2rem);
  opacity: 1;
}

.input-group-text,
.form-control {
  border-color: var(--bs-gray);
}

.form-control:focus {
  border-color: var(--bs-gray);
  box-shadow: none;
}

.dropdown-menu[data-bs-popper] {
  right: -15px;
  left: auto;
  top: 110%;
}

.shimmer-loader {
  position: relative;
  overflow: hidden;
}

.shimmer-line {
  background: #e0e0e0;
  border-radius: 4px;
  position: relative;
}

.shimmer-line::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(224, 224, 224, 0) 0%, rgba(200, 200, 200, 0.6) 50%, rgba(224, 224, 224, 0) 100%);
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.upload-btn {
  display: inline-block;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  padding: 3px;
  border: 1px dashed #ccc;
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.upload-btn-lg {
  padding: 6px;
  border: 3px dashed #ccc;
  width: 200px;
  height: 180px;
  border-radius: 10px;
}

.upload-btn:hover {
  background: #ccc;
  border-color: #4f46e5;
}

input[type="file"] {
  display: none;
}
.table>:not(caption)>*>*{
  min-width: 80px;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: var(--bs-border-width) solid var(--bs-border-color);
}
.table>:not(caption)>*>*:first-child {
  min-width: 40px;
}
.table>:not(caption)>*>*:last-child {
  min-width: 180px;
}
.table-responsive {
  min-height: 70vh !important;
  padding: 1rem !important;
}
.table-responsive-sm{
  min-height: 30vh !important;
  padding: .5rem !important;
}
.table tbody {
  max-height: 70vh;
  overflow-y: scroll;
}

.th-lg{
  min-width: 280px !important;
  max-width: 320px !important;
}
.th-sm{
  min-width: 40px !important;
  max-width: 60px !important;
}
/* Sticky table header */
table thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #fff;
}
